.header__container, ul {
    display: flex;
    align-items: center;
}

.header__container {
    width: 100vw;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    background-color: #1E1E1F;
}

img {
    width: 50px;
    height: 40px;
}

a:nth-child(1) {
    padding: 0;
}

a:nth-child(1):hover {
    background-color: red;
    padding: 0 5px;
}

ul {
    height: 100%;
    margin-left: 20px;
    list-style: none;
}

a {
    display: block;
    margin: 0 10px;
    padding: 10px 0;
    color: #FCFCFC;
    font-size: 1.8rem;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
}

a:first-letter {
    text-transform: uppercase;
}

a:hover {
    background-color: #E02735;
    padding: 10px 5px;
}