.form__container {
    position: absolute;
    top: 0;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #292A2B;
}

.form__container button {
    width: 20%;
}

.form__container h3 {
    font-size: 3rem;
    margin: 5px 0 15px;
    background-color: #737373;
    padding: 20px;
}

.form__container p {
    font-size: 1.2rem !important;
    margin: 5px 5px 0 !important;
    text-align: left !important;
}

h2 {
    font-size: 4rem;
    margin: 10px 0 15px;
}