.game__page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
    padding: 40px 0;
    background-color: #292A2B;
}

.game__page__container h3 {
    font-size: 3.5rem;
}

.game__page__container img {
    width: 80%;
    margin: 10px;
}

.game__details {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.game__details span{
    font-size: 1.3rem;
}
.game__details p {
    font-size: 1.6rem;
    margin: 5px;
}

.game__description {
    background-color: #737373;
    padding: 10px;
    margin-top: 10px;
}

.game__description p {
    font-size: 1.4rem;
}