.publisher__section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 5px auto;
    background: #292A2B;
}

.publisher__section__container h4 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.publisher__links__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px
}

.publisher__links__container a {
    width: 30%;
    height: 50px;
    line-height: 50px;
    margin: 5px;
    padding: 10px;
    color: #FCFCFC;
    background: #222224;
    text-align: center;
    font-size: 1.6rem;
    transition: 0.5s;
    border-radius: 5px;
}

.publisher__links__container a:hover {
    transform: scale(1.2);
    background-color: #E02735;
}